<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    @using Microsoft.AspNetCore.Http
@using TaskProject.Utilities

    <title>My Shop</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/customer/css/styles.css" rel="stylesheet" />
    <!--This link belongs Toater-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">TestProject</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Customer/Home/Index">Home</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole(SD.CustomerRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="Customer/Home/Edit">Edit Profile Data</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {

                            <li class="nav-item" aria-current="page">
                                <form asp-area="Admin" asp-controller="Contact" asp-action="Index" class="d-flex align-items-center">
                                    <button type="submit" class="btn btn-light me-2">Contacts</button>
                                    <select name="dbType" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option selected>Select Database</option>
                                        <option value="SqlServer">SQL Server</option>
                                        <option value="PostgreSQL">PostgreSQL</option>
                                    </select>
                                </form>
                            </li>

                            
                        }

                    }
                        
                </ul>
                <partial name="_LoginPartial" />
                    
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Contacts</h1>
                <p class="lead fw-normal text-white-50 mb-0">You Can Manage Your Contacts</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <partial name="_Toaster" />
    @RenderBody()
    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/customer/js/scripts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
