@* <form asp-action="Index" method="get">
    <select name="dbType">
        <option value="SqlServer">SQL Server</option>
        <option value="PostgreSQL">PostgreSQL</option>
    </select>
    <button type="submit">Switch Database</button>
</form> *@